<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express with Nic</title>
  </head>
  <body>
    <p><%= name %> here</p>
    <p>how was your days? is't <%= greet %>?</p>
    <p>if is't <%= greet %>?</p>

    <% for(let i=0; i < fruit.length; i++){ %>
    <p>eat some <%= fruit[i].name %></p>
    <% } %>
  </body>
</html>
